a{
    color: #4c4;
    cursor: pointer;
    text-decoration: underline;
}
a:hover{
    color: #777;
}
body{
    background: #000;
    color: #aaa;
}
div{
    display: inline-block;
}
input{
    background: #000;
    color: #aaa;
    width: 75px;
}
input[type=button]{
    cursor: pointer;
    width: auto;
}
#settings{
    padding-left: 50px;
}
#start_button{
    font-size: 125%;
}
